<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Collector</title>
</head>
<body>
    <form>
        <label for="question">Question</label>
        <input type="text" id="question" required/>
        <br/>
        <label for="option1">option1</label>
        <input type="text" id="option1"/>
        <br/>
        <label for="option2">option2</label>
        <input type="text" id="option2"/>
        <br/>
        <label for="option3">option3</label>
        <input type="text" id="option3"/>
        <br/>
        <label for="answer">Answer</label>
        <input type="text" id="answer" required/>
        <br/>
        <button>Submit</button>
    </form>
</body>
</html>